.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .contact-item svg {
    margin-right: 10px;
  }
  
  .contact-item a {
    font-size: 14px;
    color: #5b5b5b;
  }
  