.education {
    margin-bottom: 40px;
  }
  
  .school {
    color: #5b5b5b;
    margin-bottom: 10px;
  }
  
  .school h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .school p {
    font-size: 14px;
    color: #8c8c8c;
    margin-bottom: 5px;
  }
  